body {
  font-family: 'Cabin', sans-serif;
  font-weight: 300;
  background: url(Kellogg.jpg)no-repeat;
	background-size: 1370px;
  	background-position: center center;
  	background-attachment: fixed;
}
#wrapper {
    background-color: white;
    width: 960px;
    margin: 20px auto;
    border: 3px solid purple;
    padding: 10px;
	opacity: 0.8;
}
h1 {
	font-size: 60px; 
	font-style: italic;
	color: purple;
	text-align: center;
}
h4 {
	font-size: 20px; 
	font-style: italic;
	color: purple;
}	
p, li{
	line-height: 26px;
}
table, th, td {
   border: 1px solid black;
   padding: 2px;
}
